// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$accent: #F05223;
$white: #FFFFFF;

.home-page {
  .jumbotron {
    background-image: url("apples-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    .app-intro-text {
      color: $white;
      &-lg{
        font-size: 4rem;
      }
    }
  }
  .app-features {
    padding-top: 2em;
    padding-bottom: 4em;
    margin-bottom: 8em;

    height: 40vh;
    &-title {
      font-size: 2rem;
    }
    .app-feature {
      padding: 1em;
      .app-options-icon{
        color: $accent;
        margin-bottom: .5em;
      }
      .app-options-header{
        font-size: 1rem;
      }
      .action-button {
        background-color: $accent;
        border: 1px solid $accent;
        &:hover {
          background-color: $accent;
        }
      }
    }
  }
}
