// Place all the styles related to the samples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$accent: #F05223;

.all-samples {
  h2 {
    font-size: 1rem;
  }
  .card {
    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
  .card-body {
    .card-title {
      border-bottom: 1px solid $accent;
    }
    .card-text {
      font-size: 0.875rem;
    }
    .action-link {
      color: $accent;
    }
  }
}

.action-row {
  .action-button {
    background-color: $accent;
    border: 1px solid $accent;
    &:hover {
      background-color: $accent;
      border: 1px solid $accent;
    }
  }
}

.new-sample {
  p{
    font-size: 0.8rem;
    .asterisk {
      color: $accent;
    }
  }

  .action-button {
    background-color: $accent;
    border: 1px solid $accent;
    &:hover {
      background-color: $accent;
      border: 1px solid $accent;
    }
  }
}
