// Place all the styles related to the samples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$accent: #F05223;

.all-samples {
  .card {
    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
  .card-body {
    .card-text {
      font-size: 0.875rem;
    }
    .action-link {
      color: $accent;
    }
  }
}
