// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$accent: #F05223;

.login {
  height: 100%;
  .login-form-container {
    width: 75vw;
    .action-button {
      background-color: $accent;
      border: 1px solid $accent;
      &:hover {
        background-color: $accent;
      }
    }
  }
}
